<!DOCTYPE html/>
<html>
<head><title>Tipsy</title> 
      <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"</link>   


</head>
<body>
  <h1>Task List</h1>
  <table style="vertical-align: middle;">
    <tr>
      <td>Task ID</td>
      <td>Task Title</td>
      <td>Complete</td>
      <td>Completed At</td>
    </tr>

  {% for task in tasks %}
    <tr>
      <td>{{task['id']}}</td>
      <td>{{task['title']}}</td>
      <td>
        <form action="/complete_task" method="POST">
          <input type="hidden" name="task_id" value="{{task['id']}}"/>
          <input type="submit" name="Complete Task"/>
        </form>
      </td>  
      <td>
        {{task['completed_by']}}
      </td>
  {% endfor %}
    </tr>
  
  </table>
  
</body>
</html>
